@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

/* * { 
  margin: 0;
  border: 0;
  padding: 0;
} */

body {
  background-color: #FFC0CB;
  width: 100vw;
  height: auto;
  margin: 0;
}

::-webkit-scrollbar {
  /* Largura da barra de rolagem */
  max-width: auto;
  /* Tamanho da barra */
  max-height: auto;
  flex-shrink: 0;
  background: var(--SBG-SBG, #FFC1AB);
  /* Cor de fundo da barra */
}

::-webkit-scrollbar-thumb {
  flex-shrink: 0;
  border-radius: 30px; /* Arredondamento do indicador */
  /* background: var(--SBG-SBG, #FFC1AB); */
  background-image: url(./img/Group\ 5.png);
  background-repeat: no-repeat;
  /* Cor do indicador de rolagem */
  
}

::-webkit-scrollbar-track {
  background: var(--BG-BG, #FFE1F8);background: var(--BG-BG, #FFE1F8);
  border-radius: 30px;
  width: 100vw;
  height: auto;
  /* Cor do trilho da barra */
}

  .navbar { 
    border-radius: 0.5% 0.5%;
    width: 100vw;
    height: auto;
    /* flex-shrink: 1; */
    background: #FFE1F8;
    display: flex;
    align-items: center;
    color: #000;
    align-items: center;
    /* flex-direction: column; */
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    z-index: 100;
}
  
  .link-a {
    /* width: 10%; */
    margin-left: 3vw;
  }

  .link-a a {
    margin-left: 30px;
  }

  
  /* .navbar h1, .navbar ul, #navbar-list li, .navbarnav { */
    /* display: flex;   */
    /* display: inline-block; */
  /* } */

  
  .img-logo { 
    margin-top: -4px;
    margin-bottom: 10px;
    /* margin-left: 100%; */
    display: flex;
    width: 110px;
    height: 90px;
    flex-shrink: 0;
    position: center;
    /* Opens Sans_Bold_As Typed/H5 21 */
    font-family: "Open Sans";
  }
  
  .img-logo a {
    
    /* margin-left: 25%; */
    width: 110px;
    height: 90px;
    display: flex;
    border: 0;
    padding: 0;
    /* margin: 0; */
    text-decoration: none;
  }
  
  
  .divino-sabor-marca { 
    width: 30vw;
    height: 10vh;
    /* display: inline-block; */
    display: flex;
    /* align-content: center; */
    align-items: center;
    position: center;
    margin-left: 2vw;
  }
  
  .oleo-script-regular {
    font-family: "Oleo Script", system-ui;
  }
  
  /* .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  } */
  
  
  .divino-sabor-marca h1 {
    margin-left: 2vw;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    color: #000;
    font-family: "Oleo Script";
    font-size: 3vw;
    font-style: normal;
    font-weight: 100;
    line-height: 50px;
    /* height: 100px; */
    text-align: center;
	}
  
  #img-carrinho {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 0.5vw;
    width: 2rem;
    /* height: 10px; */
    /* flex-shrink: 0; */
    fill: #000;
    display: flex;
    align-items: center;
}
  
  .carrinho_icon {
    max-width: 100%;
    height: auto;
  }
  
  .navbar nav {
    float: right;
  }

  .navbar ul {
    /* margin-top: 22px; */
    padding-left: 0.5vw;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .navbar li{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 24px; 150% */
    margin:0 10px;
    display: flex;
    align-items: flex-end;
    float: right;
  }

  .navbar li :hover{
    color: white;
  }

  .navbar-list li a {
    
    text-decoration: none;
    color: black;
  }

  /* #navbar-list li a:hover {
    border-bottom: 1px solid white;
  } */
  .div_login_done {
    padding-left: 5%;
    padding-right: 2%;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  
  .button-login-Done {
    background-color: transparent;
    border: none;
    padding: 0;
    
  }

  .button-login-Done :hover {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid white;
  }

.button-login-Done img {
    width: 100%;
    height: 100%;
} 

.banner-saito {
  width: 100vw;
  /* height: auto; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  position: flex center;
  align-items: center;
  text-align: center;
}

.banner-saito img{
  width: 100%;
  height: auto;
}

.tarja-bottom-banner {
  width: 100vw;
  height: 14vh;
  align-items: center;
  background: #FFE1F8;
}

.tarja-bottom-banner h1 {
  display: flex;
  width: 100vw;
  height: 100%;
  /* background: #FFE1F8; */
  justify-content: center;
  color: #000;
  margin: 0;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100;
  flex-direction: row;
  font-size: 2em;
}

.div-espaço {
  width: 100vw;
  height: 5vh;
  background-color: #FFF;
  border: 0;
  padding: 0;
  margin: 0;
}

.div-espaço-2 {
  width: 100vw;
  /* height: 10vh; */
  background-color: #FFF;
  /* margin: 0; */
  /* border: 0; */
  /* padding: 0; */
  display: flex;
}
.section-1 { 
    /* justify-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    width: 100vw;
    background-color: #FFF;
    height: 45vh;
}

.section-1 h1 {
  color: #000;
  font-size: 2em;
  line-height: 42px;
  font-weight: normal;
}

.article-1 {
  justify-items: column;
  align-items: center;
  justify-content: center;
  text-align: center;  
}

.article-1 h2 {
  font-size: 1.5em;
  text-decoration: none;
  /* line-height: 5vh; */
  /* font-weight: lighter; */
  margin-left: 30vw;
  margin-right: 30vw;
  font-family: "Open Sans";
  font-weight: 500;
}

.hr-1 {
  width: 80vw;
  /* height: min-content; */
  color: #000;
  margin: 10vh;
  /* text-decoration: none; */
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}





/* Estilo do Footer */
.style-footer { 
  display: flex;
  margin: 0;
  background: var(--Brown-Brown, #41271F);
  height: 30vh;
  width: 100vw;
  padding: 20px
  /* justify-content: space-between; */
}

/* Div do Footer */
.container-contact-us { 
  padding: 4rem;
  /* height: 20vh;
  width: 80vw; */
  width: 100%;
  display: flex;
  /* position: flex; */
  /* justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  justify-content: space-between;
  background-color: whitesmoke;
  
}

.secao {
  padding: 1rem;
  width: 5vw;
  height: 5vh;
  background-color: red;
/* Cada seção ocupa 33.33% da largura do container (100% dividido por 3) */
  /* flex: 1; */
  display: flex;
  text-align: center; /* Alinha o texto no centro da seção */
}