@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

/* html:last-child{
  border-bottom: none;
} */

* { 
  border: 0;
  padding: 0;
}

body {
  background-color: #FFC0CB;
  /* display: grid; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  width: 100%;
  height: auto;
  min-width: fit-content;
  min-height: 10rem;
  margin: 0;
  margin-right: 1.5vw;
  overflow-x: hidden;
}

/* Trilho do scroll vertical */
::-webkit-scrollbar {
  width: 12px;
  height: auto;
  background: var(--SBG-SBG, #FFC1AB);
  border-radius: 10px;
  margin-right: 5px;
}

/* Scroll por cima da barra */
::-webkit-scrollbar-thumb {
  width: 16px;
  height: auto;
  background: var(--SBG-SBG, #FFC1AB);
  /* background-repeat: no-repeat; */
  border-radius: 10px;
  /* border-radius: 30px; */
}

/* Trilho de baixo da barra */
::-webkit-scrollbar-track {
    background: var(--BG-BG, #FFE1F8);
    border-radius: 30px;
    height: auto;
}

  .navbar { 
    border-radius: 0.5% 0.5% 2% 2%;
    box-sizing: border-box;
    justify-content: space-evenly;
    /* width: 100%; */
    height: 7rem;
    background: rgb(255, 225, 248);
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding-right: 2vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}
  
.btn_whatsApp {
  position: fixed;
  bottom: 1rem;
  right: 2em;
  /* background-color: red; */
  z-index: 2222;
  width: 5rem;
  height: 5rem;
  border-radius: 90%;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  opacity: 50%;
  
  
  &:hover { 
    opacity: 100%;
    transform: scale(1.1); /* Animação de escala*/
    transition: transform 0.3s ease-in-out; /* Suaviza a animação */
  }
}

.btn_whatsApp button {
  background-image: url(./img/whatsapp_Icon_Fixed.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border:none;
  width: 100%;
  height: 100%;
  /* border-radius: 40%; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */

    &:hover {
      cursor: pointer;
      border: none;
    }
}

  .link-a {
    margin-left: 2vw;
  }

  /* .link-a a {
    margin-left: 30px;
  } */

  
  /* .navbar h1, .navbar ul, #navbar-list li, .navbarnav { */
    /* display: flex;   */
    /* display: inline-block; */
  /* } */

  
  /* .img-logo { 
    margin-top: -4px;
    margin-bottom: 10px; */
    /* margin-left: 100%; */
    /* display: flex;
    width: 110px;
    height: 90px;
    flex-shrink: 0;
    position: center; */
    /* Opens Sans_Bold_As Typed/H5 21 */
    /* font-family: "Open Sans";
  } */
  
  .img-logo a {
    
    /* margin-left: 25%; */
    width: 110px;
    height: 90px;
    display: flex;
    border: 0;
    padding: 0;
    /* margin: 0; */
    text-decoration: none;
  }
  
  
  .divino-sabor-marca { 
    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-left: 10vw;
  }
  
  .oleo-script-regular {
    font-family: "Oleo Script", system-ui;
  }
  
  /* .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  } */
  
  
  .divino-sabor-marca h1 {
    display: flex;
    color: #000;
    font-family: "Oleo Script";
    font-size: 2em;
    font-style: normal;
    font-weight: 100;
    line-height: 1em;
    text-align: center;
}
  
  #img-carrinho {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 0.5vw;
    width: 2rem;
    /* height: 10px; */
    /* flex-shrink: 0; */
    fill: #000;
    display: flex;
    align-items: center;
}
  
  .carrinho_icon {
    max-width: 100%;
    height: auto;
  }
  
  /* .navbar nav {
    float: right;
  } */

  /* .navbar ul { */
    /* margin-top: 22px; */
    /* padding-left: 0.5vw; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  /* } */

  .navbar li{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 24px; 150% */
    margin:0 10px;
    display: flex;
    align-items: flex-end;
    float: right;
  }

  .navbar li :hover{
    color: white;
  }

  .navbar-list li a {
    text-decoration: none;
    color: black;
  }

  /* #navbar-list li a:hover {
    border-bottom: 1px solid white;
  } */

  .div_login_done {
    padding-left: 5%;
    padding-right: 2%;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  
  .button-login-Done {
    background-color: transparent;
    border: none;
    padding: 0;
    
  }

  .button-login-Done :hover {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid white;
  }

.button-login-Done img {
    width: 100%;
    height: 100%;
} 

.banner-saito {
  box-sizing: border-box;
  width: 100%;
  /* height: auto; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  position: flex center;
  align-items: center;
  text-align: center;
}

.banner-saito img{
  width: 100%;
  height: auto;
}

.tarja-bottom-banner {
  box-sizing: border-box;
  width: 100%;
  height: 14vh;
  align-items: center;
  background: #FFE1F8;
  justify-content: space-around;
  display: flex;
}

.tarja-bottom-banner h1 {
  /* padding-right: 2rem; */
  display: flex;
  width: 100%;
  height: auto;
  /* background: #FFE1F8; */
  justify-content: center;
  color: #000;
  margin: 0;
  align-items: inherit;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100;
  flex-direction: column;
  font-size: 2em;
}

/* .div-espaço {
  width: 100vw;
  height: 11.2vh;
  background-color: #FFF;
  border: 0;
  padding: 0;
  margin: 0;
} */

.div-espaco-hr {
  box-sizing: border-box;
  background-color:white;
  display: flex; 
  height: 5px;
  align-items: center;
  justify-content: center;

}

.div-espaco-cinza {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 80%;
  background-color: #000;
}

.section-1 { 
  padding: 6rem 0rem 4rem;
  display: flex;
  width: 100%;
  background-color: #FFF;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.section-1 h1 {
  margin: 0;
  color: #000;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  padding: 1rem;
}

.article-1 {
  justify-items: column;
  align-items: center;
  justify-content: center;
  text-align: center;  
}

.article-1 h2 {
  font-size: 1.5em;
  text-decoration: none;
  /* line-height: 5vh; */
  /* font-weight: lighter; */
  /* margin-left: 30vw; */
  /* margin-right: 30vw; */
  padding: 0 15vw;
  font-family: "Open Sans";
  font-weight: 500;
}

.div_section_produtos { 
  box-sizing: border-box;
  width: 100%;
  padding: 0.3rem 0.3rem;
  margin-right: 1rem;
  background-color: #FFF;
  margin-top: 0;
  padding: 1% 5%;
}

.div_section_produtos p{
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-family: system-ui;
}

.margin-auto {
  margin: auto;
}
.section_produtos {
  display: flex;
  height: 30vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1%;
}

.week-offer {
  background: var(--sbgsbg-1, #FFCDBC);
  height: 5vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 80%;
  margin: 2% auto;
  gap: 4%;
}

.card_bolos {
  width: 18%;
  height: 98%;
  /* margin: 0 2px; */
  /* gap: 1%; */
  background-color: #FFCDBC;
  border-radius: 10%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 5px 45px 10px rgba(0, 0, 0, .15); */

  &:hover {
    cursor: pointer;
    transform: scale(1.3); /* Animação de escala*/
    transition: transform 0.5s ease-in-out; /* Suaviza a animação */
  }
}

@media (max-width: 480px) {
  .card_bolos {
    width: 25%;
    height: 60%;
  }

  .week-offer {
  margin: 0 auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card_bolos {
    width: 20%;
    height: 60%;
  }

  .week-offer {
    margin: 0 auto;
    }
}

@media (min-width: 769px) and (max-width: 999px) {
  .card_bolos {
    width: 23%;
    height: 75%;
  }
  .week-offer {
    margin: 0 auto;
    }
}

@media (min-width: 1000px) and (max-width: 1440px){
  .card_bolos {
    width: 18%;
    height: 98%;
  }
}

/* Estilo do Footer */
.style-footer { 
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  margin: 0;
  background: var(--Brown-Brown, #41271F);
  height: 25vh;
  width: 100%;
  box-sizing: border-box;
  /* justify-content: space-between;*/
}

/* Div do Footer */
.container-contact-us { 
  margin: 0;
  padding-top: 2rem;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.hr-vertical {
  /* Propriedades padrão da tag hr */
  height: 18vh; /* Altura da linha vertical */
  width: 0.1vw; /* Espessura da linha vertical */
  background-color: #D9D9D9; /* Cor da linha vertical */
  margin: 1rem; /* Centraliza a linha vertical na página */
  border: 0; /* Remove a borda padrão da tag hr */
}

.secao {
	padding: 0.5rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    &:first-child{
      padding-left: 0;
    }
}

.secao img {
  width: 100%;
  height: auto;
  min-width: 2rem;
  min-height: 2rem;
}

.secao-2 h2 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}

.secao-3 {
	color: rgb(255, 255, 255);
    font-size: 1em;
    height: auto;
    width: auto;
    line-height: 1rem;
    /* padding-top: 2rem;*/
}

.secao-3 h3 {
  /* margin-left: auto; */
  color: #FFF;
  font-family: "Open Sans";
  font-size: 1em;
  font-style: normal;
  /* font-weight: 700; */
  line-height: 1em;
}

.secao-3 p {
  font-size: 1em;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.secao-3 p img {
  width: 1px;
  height: 1px;
  /* margin-bottom: -0.6rem; */
  /* margin-left: 0.5rem; */
  opacity: 80%;


  &:hover {
    opacity: 100%;
  }
}

#footer_dev_name {
  font-size: 0.8em;
}

#footer_dev_prof{
  font-size: 0.6em;
}

.sect-onde-encontrar {
  display: block;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: auto;
  /* background-repeat: repeat-x;
  background-position: top left;
  background-image: url(./img/choco.png);
  background-size: auto; */
}

.sect-onde-encontrar img {
  width: 100%;
  /* height: 0.1rem; */
  justify-items: center;
  display: flex;
  
}

.div-onde-encontrar {
	display: block;
    height: 10rem;
    align-content: center;
    text-align: center;
    font-size: 2em;
    line-height: 1.2em;
}

.onde-encontrar h1 {
  margin: 0;
  display: inline-flex;
  /* font-family: "Oleo Script", system-ui; */
  font-size: 3em;
  font-style: normal;
}

.map-loja {
  display: flex;
  height: auto;
  align-items: center;
  /* align-content: center; */
  text-align: center;
  justify-content: center;
}

.map-loja-span {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10vh;
}

.map-loja a {
  display: flex;
  height: auto;
  width: 80%;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.map-loja img {
  width: 100%;
  height: auto;
}

.map-loja-span-a {
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-loja-span-a img {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  top: -1rem;
}

#galeria-div-section-produtos:nth-child(1n) {
  padding-top: 0;
}

#sec-section_produtos {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 2vh 0 2vh;
  height: 30vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.galeria_card_bolos {
  height: 55%;
  margin-bottom: 1px;
}
.padding-10p {
  padding: 10%;
}

.gal-div-espaco-hr-card {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  display: block;
  height: 3vh;
}

.galeria-div-espaco-card{
	display: block;
  height: 50%;
  width: 80%;
  background-color: white;
}