body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative; /* Posicionamento relativo para o menu */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; /* Posicionamento absoluto para a lista */
  top: 100%; /* Posiciona a lista abaixo do botão */
  left: 0; /* Posiciona a lista à esquerda */
  width: 100%; /* Ocupa a largura total do navbar */
  background-color: #fff; /* Cor de fundo da lista */
  display: none; /* Esconde a lista por padrão */
}

nav li {
  display: block;
  margin: 10px 0;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
}

/* Estilos responsivos (media query) */
@media (max-width: 940px) {
  nav {
    text-align: center;
  }

  nav ul {
    margin: 10px auto;
  }

  nav li {
    width: 100%;
  }

  nav button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
}
nav button:hover + ul {
  display: block; /* Mostra a lista quando o botão é pressionado */
  animation: showNavbar 0.5s ease-in-out; /* Adiciona uma animação suave */
}

@keyframes showNavbar {
  from { max-height: 0; } /* Altura inicial da lista é zero */
  to { max-height: 200px; } /* Altura final da lista aberta */
}