@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
  --font_padrão: "Questrial", sans-serif;
  --brown: rgba(65, 39, 31, 1);
  --smooth_pink: rgb(255, 225, 248);
  --font_title: "Berkshire Swash", serif;
  --box_shadow: 0 5px 45px 10px rgba(0, 0, 0, 0.15);
}

* {
  border: 0;
  padding: 0;
}
.offcanvas.offcanvas-end {
  width: 30rem !important;
}

body {
  background-color: #fff;
  width: 100%;
  height: auto;
  min-width: fit-content;
  min-height: 10rem;
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden !important;
  font-family: var(--font_padrão) !important;
}

/* Smaller Smarphones */
@media only screen and (max-width: 480px) {
  .li_order_list {
    width: 100% !important;
  }

  .product_name_order {
    font-size: 1.4em !important;
  }
  .div_img_order {
    max-height: 115px !important;
    max-width: 115px !important;
  }

  #section_description_about {
    display: block !important;
  }

  #separation_content {
    margin: 1rem auto !important;
    transform: none !important;
  }

  .product_name {
    font-size: 0.9rem;
  }
  .span_product {
    font-size: 0.9rem;
  }

  #map {
    width: 20rem !important;
    height: 18rem !important;
  }

  .artc-sobre-titulo {
    display: block !important;
  }

  #menu-disp-maiores {
    display: none;
  }

  #menu-disp-menores {
    display: block;
    z-index: 400;
  }

  .sect-tag-card-title {
    margin: 0 auto;
  }

  #redirect_arrow {
    margin-left: -35px;
  }

  .sect-flex-products {
    padding: 0 !important;
  }

  .card-products {
    max-width: 192.55px !important;

    & a {
      & img {
        transform: scale(1) !important;

        &:hover {
          transform: scale(1.2) !important;
        }
      }
    }

    & p {
      font-size: 0.8em;
      margin: 1rem auto 0;
    }
  }

  #card_torta04 {
    margin-bottom: 3rem;
  }

  .p_card_products_doces p {
    translate: 0 -0.2rem !important;
  }

  .card-products-gallery {
    max-width: 185px !important;

    & p {
      padding: 4px !important;
    }
  }

  .map-loja a {
    width: 95% !important;
  }
}

/* Tablets & Larger Smartphones */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .li_order_list {
    width: 100% !important;
  }

  .product_name_order {
    font-size: 1.4em !important;
  }
  .div_img_order {
    max-height: 115px !important;
    max-width: 115px !important;
  }

  #section_description_about {
    display: block !important;
  }

  #separation_content {
    margin: 1rem auto !important;
    transform: none !important;
  }

  .product_name {
    font-size: 0.9rem;
  }

  .span_product {
    font-size: 0.9rem;
  }

  #map {
    width: 20rem !important;
    height: 18rem !important;
  }

  .artc-sobre-titulo {
    display: block !important;
  }

  .div-img-sobre img {
    max-width: 60% !important;
  }

  #menu-disp-maiores {
    display: none;
  }

  #menu-disp-menores {
    display: block;
    z-index: 400;
  }

  .sect-tag-card-title {
    margin: 0 auto;
  }

  .sect-flex-products {
    padding: 0 !important;
  }

  .card-products {
    max-width: 192.55px !important;

    & a {
      & img {
        transform: scale(1) !important;

        &:hover {
          transform: scale(1.2) !important;
        }
      }

      & p {
        font-size: 0.8em;
        margin: 1rem auto 0;
      }
    }

    #card_torta04 {
      margin-bottom: 3rem;
    }

    .p_card_products_doces p {
      translate: 0 -0.2rem !important;
    }

    #redirect_arrow {
      margin-left: -35px;
    }
  }

  .card-products-gallery {
    max-width: 185px !important;
  }

  .map-loja a {
    width: 95%;
  }
}

@media only screen and (max-width: 833px) {
  #menu-disp-maiores {
    display: none;
  }

  #menu-disp-menores {
    display: block !important;
  }

  .divino-sabor-marca {
    & h1 {
      font-size: 1.8em !important;
    }
  }

  #card_torta04 {
    margin-bottom: 2.2rem !important;
  }

  .p_card_products_doces p {
    translate: 0 -0.2rem !important;
  }

  .map-loja img {
    width: 95%;
  }
}

/* Laptops, Larger Tablets in Landscape and small desktops */
@media only screen and (min-width: 769px) and (max-width: 999.99px) {
  #map {
    width: 38rem !important;
    height: 38rem !important;
  }

  .sect-tag-card-title {
    margin: 0 auto;

    & p,
    h1 {
      font-size: 2.2em !important;
    }
  }

  .div-img-sobre img {
    max-width: 90%;
  }

  #redirect_arrow {
    margin-left: -35px;
  }
}

/* Larger desktops and monitors */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .sect-tag-card-title {
    margin: 0 auto;

    & p,
    h1 {
      font-size: 2.2em !important;
    }
  }

  .div-img-sobre img {
    max-width: 80%;
  }

  #card_torta04 {
    margin-bottom: 3.3rem !important;
  }
}

@media only screen and (min-width: 1280px) {
  .div-img-sobre img {
    max-width: 60% !important;
  }

  #card_torta04 {
    margin-bottom: 4.3rem !important;
  }

  .p_card_products_doces p {
    translate: 0 0.5rem !important;
  }
}

/* Trilho do scroll horizontal */
::-webkit-scrollbar {
  width: 12px;
  height: auto;
  background: var(--SBG-SBG, #ffc1ab);
  border-radius: 10px;
  margin-right: 5px;
}

/* Scroll por cima da barra (vertical) */
::-webkit-scrollbar-thumb {
  width: 16px;
  height: auto;
  background-color: var(--brown);
  border-radius: 10px;
}

/* Trilho de baixo da barra */
::-webkit-scrollbar-track {
  background: var(--BG-BG, #ffe1f8);
  border-radius: 30px;
  height: auto;
}

.div-pag {
  display: block;
}

.modal-content {
  background: rgb(255, 225, 248) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px !important;
  border: 5px solid rgba(65, 39, 31, 1) !important;
  border-radius: 15px !important;
  color: rgba(65, 39, 31, 1) !important;
  text-align: center;

  & h5 {
    font-family: "Berkshire Swash", serif;
    font-size: 2em;
  }

  & p {
    font-size: 1.5em;
    margin: 0;
  }

  & button {
    background-color: var(--brown);
    font-size: 1.5em;
    color: white;
    border-radius: 15px;

    & span {
      color: var(--brown);
    }
  }
}

.header-position {
  display: block;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: transparent;
}

.btn_whatsApp {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 2222;
  width: 5rem;
  height: 5rem;
  border-radius: 90%;
  opacity: 50%;

  &:hover {
    opacity: 100%;
    transform: rotate(720deg) scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

.btn_whatsApp button {
  background-image: url(../img/whatsapp_Icon_Fixed.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
    border: none;
  }
}

.link-a {
  margin-left: 1vw;

  & img {
    height: 8.5em;
    width: 8.5em;
  }
}

.img-logo a {
  width: 110px;
  height: 90px;
  display: flex;
  border: 0;
  padding: 0;
  text-decoration: none;
}

.divino-sabor-marca {
  height: 10vh;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  & h1 {
    display: flex;
    color: var(--brown);
    font-family: "Berkshire Swash", serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 100;
    line-height: 1em;
    text-align: center;
  }
}

.disp-maiores-navbar {
  border-radius: 0.5% 0.5% 2% 2%;
  box-sizing: border-box;
  justify-content: space-evenly;
  height: 7rem;
  background: var(--smooth_pink);
  display: flex;
  color: rgb(0, 0, 0);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;

  & ul li {
    font-family: "Open Sans";
    font-size: 1.5em;
    line-height: 1em;
    font-style: normal;
    font-weight: 400;
    display: inline;
    align-items: flex-end;
    position: relative;
    transition: all 100ms ease-in;

    & :last-child {
      padding-right: 25px;
    }

    & a {
      text-decoration: none;
      color: var(--brown);
      font-weight: 600;
      display: inline-block;
      padding: 5px 10px 5px;

      & span {
        color: rgba(65, 39, 31, 1) !important;
      }
    }

    & :hover {
      border-radius: 30px;
      background-color: var(--brown);
      color: white !important;
      transition: all 100ms ease-in;

      & #arrow_drop_down,
      #icon_menus {
        color: white !important;
      }
    }
  }

  & ul ul {
    padding: 5px !important;
    display: none;
    position: absolute;
    left: 0;
    /* -- alinha exibicao do submenu em formato coluna abaixo do 'produtos' */

    & li {
      width: 100%;
      padding: 10px !important;
      font-family: "Open Sans";
      font-size: 1em;
      line-height: 0.8em;
    }

    & li a {
      color: white;
      padding: 10px !important;
      display: flex;
      justify-content: center;
    }

    & li a:hover {
      background: var(--smooth_pink);
      color: var(--brown) !important;
    }
  }

  & ul li:hover ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background: var(--smooth_pink); */
    background-color: var(--brown);
    border-radius: 20px;
  }
}

/* Dispositivos Menores */
#menu-disp-menores {
  display: none;
  justify-content: center;
  background: var(--BG-BG, #ffe1f8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  border-radius: 0.5% 0.5% 6% 6%;
}

.sct-header {
  border-radius: 0.5% 0.5% 6% 6%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: var(--BG-BG, #ffe1f8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;

  & a img {
    width: 6em;
    height: 5.5em;
  }

  & h1 {
    padding: 10px;
    text-align: center;
  }
}

nav {
  display: block;
  margin-right: 5px;

  & ul {
    list-style-type: none;
    font-family: system-ui;
    margin-bottom: 0;
  }

  & ul li {
    position: relative;
    display: inline-block;
  }

  & ul li a {
    font-size: 1.6em;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(#ffc1ab);
    color: rgba(65, 39, 31, 1) !important;
    border-top: 2px solid white;

    & span {
      color: rgba(65, 39, 31, 1) !important;
    }

    &:hover {
      justify-content: center;
      border-radius: 30px;
      color: white !important;
      background-color: var(--brown);

      & #icon_menus,
      #arrow_drop_down {
        color: white !important;
      }
    }
  }
}

nav ul li ul.submenu {
  font-size: 0.9em;
}

nav ul li ul {
  display: none;
  position: absolute;

  & li {
    font-size: 1em;
  }
}

nav ul li:hover ul.submenu {
  display: block;
}

#navHamb {
  display: none;

  & ul {
    list-style-type: none;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  & li {
    margin: 3px;
    width: 100%;
  }

  & ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}

#btnHamb {
  margin: 0 5%;
  border-radius: 38px;
  border: none;
  font-size: 46px;
  background-color: transparent;
  color: var(--brown);
  height: 5%;
  box-shadow: var(--box_shadow);

  &:hover {
    color: white;
    background-color: var(--brown);
  }
}

#icon_menus {
  background-color: transparent;
  color: black;
  padding: 5px !important;
}

/* #shop_cart_menu {
  margin-right: 1px;
  position: absolute;
  padding: 15px;
  color: var(--brown);
  border-radius: 1.5rem;
  span:hover {
    color: white;
  }
} */

.carousel {
  background-color: var(--smooth_pink);
}

.carousel-indicators li {
  /* background-color: rgba(65,39,31,1) !important; */
  background-color: rgba(65, 39, 31, 1) !important;
  opacity: 0.5;

  &:hover {
    background-color: white !important;
  }
}

.carousel-indicators .active {
  opacity: 100% !important;
}

.carousel-control-next {
  right: 10px !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10% !important;

  & #icon-seta {
    color: var(--brown);
    font-size: 3rem;
    font-weight: 600;
  }
}

.carousel-indicators {
  margin: 0 auto !important;
}

.material-symbols-outlined {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #fff;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
  }
}

#arrow_drop_down {
  background-color: transparent;
  color: black;
  padding: 0;
}

.tarja-top-banner {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 1rem;
  background: var(--BG-BG, #ffe1f8);
}

#mostraCarrinho,
#mostraCarrinho_disp_maiores {
  width: auto;
  position: absolute;
  padding: 5px;
  border-radius: 1.2rem;
}

#warning_cart {
  display: none;
  color: red;
  padding: 0 3px 0 0;
  left: -10px;
  position: relative;
}

#mostraCarrinho:hover #cartIcon {
  color: white;
}
#mostraCarrinho:hover #cartIcon {
  color: white;
}

#cartIcon {
  color: #28a745;
}

.cart_list {
  border-radius: 15px;
  display: block;
  padding: 10px;
  /* width: 80%; */
  list-style: armenian;
}

#emptyCart {
  display: none;
  height: 40rem;
  /* background-color: red; */
  display: block;
  text-align: center;
  align-content: center;
}
#catalog {
  /* display: none; */
}
#sect_check_cart {
  display: block;
}
#check_Cart {
  flex-wrap: wrap;
  display: flex;
  padding: 2rem;
  justify-content: center;
}
#conferirPedido {
  display: none;
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.width50prct {
  width: 50%;
  /* padding: 1rem; */
}
.product_name_order {
  font-family: "Berkshire Swash", serif;
  font-size: 2em;
  color: rgb(83 48 38 / 96%);
}

.div_body_order {
  font-size: 1.2em;
}
#footer_check_order {
  display: flex;
  padding: 10px;
  gap: 10%;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.removePadding {
  padding: 0 !important;
}

.div_img_cart {
  display: flex;
  margin: 0 1px;
  justify-content: center;
  max-height: 100px;
  max-width: 100px;
}

.li_cart_list {
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border: 1px solid var(--brown);
  align-items: center;
  width: 100%;
  /* padding: 2rem; */
  text-align: center;
  list-style: armenian;
  margin-bottom: 0.5rem;
}

.div_img_order {
  display: flex;
  margin: 0 1px;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
}

.li_order_list {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  align-items: center;
  width: 60%;
  text-align: center;
  margin-bottom: 0.5rem;
  padding-top: 5px;
  box-shadow: 0 0 15px rgb(255 99 99 / 60%);
}

#section_description_about {
  display: flex;
  justify-content: space-evenly;
  border: 0.1px solid #dee2e6;
  border-radius: 15px;
  margin: 2rem 0;
}

#div_work_with {
  display: block;
  text-align: center;
  align-content: center;
}

#separation_content {
  display: flex;
  transform: rotate(90deg);
  width: 12rem;
  margin: auto 0;
}

#title_description_aboutUs {
  text-align: center;
  align-content: center;
}

.gmnoprint .gm-bundled-control .gm-bundled-control-on-bottom button div {
  background-image: url(../img/runway-1x.png);
}

.div_work_and_nWork_with {
  margin-top: 1rem;
  padding: 5px;
  display: block;
  text-align: center;
}

.checklist_description {
  list-style-type: none; /* Remove os números padrão da lista ordenada */
  counter-reset: item; /* Reseta o contador */
}

.dont_checklist_description {
  list-style-type: none; /* Remove os números padrão da lista ordenada */
  counter-reset: item; /* Reseta o contador */
}

.checklist_description li {
  text-align: left;
  counter-increment: item; /* Incrementa o contador para cada item da lista */
  position: relative; /* Necessário para posicionar o pseudo-elemento */
  padding-right: 25px; /* Espaço para o símbolo de check */
  font-size: 0.9em;
}

.dont_checklist_description li {
  text-align: left;
  counter-increment: item; /* Incrementa o contador para cada item da lista */
  position: relative; /* Necessário para posicionar o pseudo-elemento */
  padding-right: 25px; /* Espaço para o símbolo de check */
  font-size: 0.9em;
}

.checklist_description li::before {
  content: "✔"; /* Símbolo de check */
  position: absolute; /* Posiciona o símbolo de check */
  right: 0; /* Alinha o símbolo à esquerda */
  color: green; /* Cor do símbolo de check */
  font-weight: bold; /* Negrito para o símbolo de check */
}

.dont_checklist_description li::before {
  content: "✖"; /* Símbolo de check */
  position: absolute; /* Posiciona o símbolo de check */
  right: 0; /* Alinha o símbolo à esquerda */
  color: red; /* Cor do símbolo de check */
  font-weight: bold; /* Negrito para o símbolo de check */
}

.div_cart_footer {
  max-height: 100%;
  display: flex;
  justify-content: center;
}

btn_Produto_add {
}
btn_Produto_remove {
}
btn_Produto_addCart {
}

.btn_Produto:active {
  color: black;
  background-color: white;
}

.offcanvas-header {
  justify-content: space-around;
}

.btn-close {
  margin: 0 !important;
}
.div_removeBtn {
  padding: 10px;
  text-align: center;
  justify-items: center;
  align-content: center;
}

.btn_footer_offcanvas {
  gap: 4%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.qtd_input {
  display: block;
  height: 10%;
  padding: 10px;
}

#trash_icon_remove {
  padding: 0;
  font-size: 1em;
  :hover {
    color: var(--brown);
  }
}

.color_red {
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 8px;
  border: none;
}

.tarja-bottom-banner {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  background-color: var(--brown);
  justify-content: space-around;
  display: flex;
  border-radius: 15px;

  & h1 {
    padding: 1rem 4rem;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    color: white;
    margin: 0;
    align-items: inherit;
    text-align: center;
    font-family: var(--font_padrão);
    font-style: normal;
    font-weight: 400;
    flex-direction: column;
    font-size: 1.5em;
  }
}

.div-espaco-hr {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  height: 5px;
  align-items: center;
  justify-content: center;
}

.div-espaco-cinza {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 80%;
  background-color: #000;
}

#sect-title-cardapio {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-family: system-ui;
  justify-content: center;

  & span {
    background-color: transparent;
    font-size: 40px;
    cursor: default;
  }
}

.section-bottom-banner {
  padding: 2rem 0rem 4rem;
  display: flex;
  width: 100%;
  background-color: #fff;
  /* height: 30vh; */
  justify-content: center;
  align-items: center;

  & h1 {
    margin: 0;
    color: #000;
    font-size: 2em;
    line-height: 1em;
    font-weight: normal;
    padding: 1rem;
  }
}

.article-bottom-banner {
  justify-items: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h1 {
    font-family: "Berkshire Swash", serif;
  }

  & h2 {
    font-size: 1.5em;
    text-decoration: none;
    padding: 0 10vw;
    font-family: var(--font_padrão);
    font-weight: 500;
  }

  & p {
    font-size: 1.3em;
    text-decoration: none;
    padding: 0 10vw;
    font-family: var(--font_padrão);
    font-weight: 500;
  }
}

.margin-auto {
  margin: auto;
}

.div_section_produtos {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 2%;

  & p {
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-family: var(--font_padrão);
  }
}

.sect-tag-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 2%;
  width: 100%;
  margin: 2% auto;
  gap: 4%;
  background-color: var(--brown);
  box-shadow: var(--box_shadow);

  & p {
    color: white;
  }

  & span {
    cursor: default !important;
    font-size: 1.8em;
    color: white !important;
  }

  & h1 {
    font-family: var(--font_padrão);
    font-weight: 200;
    color: white;
    margin: 0;
  }
}

.sect-flex-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 0 2%;
}

.ga-ma-pa {
  gap: 1%;
  margin: 1% 0;
  padding: 0 2%;
  & :hover {
    border: none !important;
  }
}

.card-products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 400px;
  min-height: 300.55px;
  border-radius: 30px;
  padding: 10px;
  flex: 1 0 250px;
  background: var(--smooth_pink);
  margin: 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  transition: box-shadow 0.3s ease;

  & span {
    font-family: var(--font_padrão);
    color: var(--brown);
    font-weight: 700;
  }

  & a {
    text-decoration: none !important;
    & img {
      width: 100%;
      transform: scale(1);
      filter: drop-shadow(-1px 4px 4px black);
      object-fit: cover;
      /* Mantém a proporção da imagem e preenche o espaço disponível */
      box-shadow: none;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  & p {
    border: solid 1px var(--brown);
    width: 100%;
    font-family: var(--font_padrão);
    font-size: 1em;
    /* padding: 5px; */
    margin: 1rem auto;
    background-color: var(--brown);
    color: white;
    border-radius: 13px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;

    &:hover {
      cursor: pointer;
      box-shadow: none;
      background-color: transparent;
      color: var(--brown) !important;
      border: solid 1px var(--brown);
    }
  }
}

#btn_abrir_modal_cart:hover {
  color: var(--brown) !important;
}

.p_product_name:hover {
  border: 1px solid var(--brown) !important;
  color: var(--brown) !important;
}

.p_card_products_doces p {
  translate: 0 0.1rem;
  margin-top: 3.3rem;
}

.card-products-gallery {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  align-items: center;
  max-width: 200px;
  max-height: 300px;
  border-radius: 30px;
  padding: 10px;
  flex: 1 0 250px;
  background: var(--smooth_pink);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  /* filter: drop-shadow(1px 2px 4px var(--brown)); */
  transition: box-shadow 0.3s ease;
  /* transition: max-height 0.3s ease-in-out; */

  & span {
    font-family: var(--font_padrão);
    color: var(--brown);
    font-weight: 700;
  }

  &:hover {
    z-index: 10;
    /* z-index: 1000; */
    transform: scale(1.3);
    /* max-height: 300px; */
    transition: transform 0.5s ease-in-out;
  }

  & a {
    & img {
      width: 100%;
      object-fit: cover;
      filter: drop-shadow(2px 2px 4px black);
      /* Mantém a proporção da imagem e preenche o espaço disponível */
      box-shadow: none;
      border-radius: 15px;

      & :hover {
        border: none;
      }
    }

    & :hover {
      border: none;
    }
  }

  & p {
    width: 100%;
    font-family: var(--font_padrão);
    font-size: 1em;
    padding: 2px 5px;
    margin: 2rem auto 0;
    background-color: var(--brown);
    color: white;
    border-radius: 13px;
    display: block;
    text-align: center;
    line-height: 1em;

    &:hover {
      cursor: default;
      box-shadow: none;
    }
  }
}

.transform_scale3d_1_2 {
  transform: scale3d(1.2, 1.2, 1.2);
}

.transform_scale3d_1_5 {
  transform: scale3d(1.5, 1.5, 1.5);
}

#card_torta04 {
  margin-bottom: 3rem;
}

/* Estilo do Footer */
.style-footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 0;
  margin: 10rem 0 0;
  background: linear-gradient(
    180deg,
    rgba(65, 39, 31, 1) 56%,
    rgba(57, 35, 28, 1) 65%,
    rgba(40, 24, 19, 1) 86%,
    rgba(0, 0, 0, 1) 100%
  );
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

/* Div do Footer */
.container-contact-us {
  margin: auto;
  /* padding-top: 2rem; */
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.hr-vertical {
  height: 18vh;
  width: 0.1vw;
  background-color: #d9d9d9;
  margin: 1rem;
  border: 0;
}

.secao {
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  &:first-child {
    padding-left: 0;
    padding-top: 2rem;
    margin-left: -2rem;
  }

  & img {
    width: 100%;
    height: auto;
    min-width: 2rem;
    min-height: 2rem;
  }
}

.secao-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  letter-spacing: 0.1em;
  height: auto;

  & h2 {
    color: #fff;
    font-family: var(--font_padrão);
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
  }

  & p {
    margin: 1rem 0;
  }

  & p img {
    width: 1px;
    height: 1px;
    opacity: 100%;
    border-radius: 50px;

    &:hover {
      opacity: 70%;
    }
  }
}

.secao-3 {
  color: rgb(255, 255, 255);
  font-size: 1em;
  height: auto;
  width: auto;
  line-height: 1rem;
  letter-spacing: 0.1em;

  & h3 {
    margin-top: 0;
    color: #fff;
    font-family: var(--font_padrão);
    font-size: 0.9em;
    /* font-style: normal; */
    /* font-weight: 700; */
    line-height: 1em;
  }

  & p {
    font-size: 1em;
    margin: 0;
    font-family: var(--font_padrão);

    & img {
      width: 1px;
      height: 1px;
      opacity: 100%;

      &:hover {
        opacity: 70%;
      }
    }
  }
}

#footer_dev_name {
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

#footer_dev_prof {
  letter-spacing: 0.1em;
  font-size: 0.6em;
}

.copyright-footer {
  background: transparent;
  display: flex;
  justify-content: center;
  text-align: justify;

  & h1 {
    color: #fff;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0 auto;
  }
}

/* Gallery */

.btn {
  width: 100%;
}

.btn-link:hover {
  text-decoration: none !important;
  opacity: 80%;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: none !important;
}

.div-desciption-gallery {
  display: block;
  text-align: justify;
  padding: 2rem;
  section {
    font-family: var(--font_padrão);
    color: var(--brown) !important;
    margin: 0 auto;

    ul {
      text-align: justify;

      li {
        margin: 1rem;
      }
    }
  }
}
/* 
.div-img-card-gallery {
  max-width: 98%;
  max-height: 60%;
} */

.hov-cursor-point:hover {
  cursor: pointer !important;
}

.alert-warning {
  text-align: center;
}

.nav-tabs .nav-item.show .nav-link,
.rounded-top,
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: rgba(65, 39, 31, 1) !important;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  border-radius: 15px 15px 0 0 !important;
  background: var(--smooth_pink);
  border: 1px solid black;
  text-decoration: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: solid 1px black !important;
}

.container-gallery {
  padding: 2rem 1rem 1rem;

  & a {
    color: var(--brown);

    &:hover {
      color: black;
    }
  }
}

.aba-subtitle {
  color: white;
  font-size: 1.8em !important;
  padding: 0.2rem;

  & span {
    padding: 0;
  }
}

/* end of Gallery */

/* Tela Sobre */
.section-sobre {
  display: block;
  margin-top: 2rem;
}

.artc-sobre-titulo {
  display: flex;
  justify-content: space-around;
}

.div-artic-sobre-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin: 0 auto;
  padding: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--font_padrão);
  & h3 {
    margin-bottom: 10%;
    font-size: 3em;
    font-family: var(--font_title);
    color: var(--brown);
  }
  span {
    text-align: center;
  }
}

.div-img-sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  & img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    box-shadow: var(--box_shadow);
  }
}

.article-sobre-midias-sociais-title {
  display: block;
  text-align: center;
  align-items: center;
  margin: 2rem auto;
  & h3 {
    margin: 2rem auto;
  }
}

.article-sobre-midias-sociais-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.sobre_insta_e_whats {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(206, 203, 203);
  padding: 10px;
  border-radius: 15px;
  margin: 2rem;
  & h3 {
    font-family: var(--font_title);
  }

  & img {
    max-height: 4rem;
    max-width: 4rem;
    margin-bottom: 2rem;
  }
}

/* Tela Onde Encontrar */
.sect-onde-encontrar {
  display: block;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: auto;

  & img {
    width: 100%;
    justify-items: center;
    display: flex;
  }
}

#store-icon {
  background-color: transparent;
  color: black;
  font-size: 1.2em;
  cursor: default;
}

.div-onde-encontrar {
  /* margin-bottom: 10%; */
  display: block;
  height: 10rem;
  align-content: center;
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
}

.ol-list-onde-encontrar {
  list-style: none;
  li {
    margin: 1em 0;
    text-align: center;
  }
}

.onde-encontrar h1 {
  margin: 0;
  display: inline-flex;
  font-size: 3em;
  font-style: normal;
}

.title-map {
  padding: 2rem;
  margin: 1rem auto 0;
  display: block;
  text-align: center;

  h1 {
    font-family: var(--font_padrão);
    color: var(--brown);
  }
  span {
    color: #000;
  }
}

.map-loja {
  margin: 1rem;
  display: flex;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.map-loja-span {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10vh;
}

.map-loja a {
  display: flex;
  height: auto;
  width: 55%;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.map-loja img {
  padding: 2rem;
  width: 100%;
  height: auto;
  box-shadow: var(--box_shadow);

  &:hover {
    box-shadow: none;
    opacity: 80%;
  }
}

.map-loja-span-a {
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  text-decoration: none;
  font-family: system-ui;

  &:hover {
    color: black;

    & #redirect_arrow {
      color: black;
    }
  }
}

#redirect_arrow {
  text-decoration: none;
  background-color: transparent;
  color: blue;
  position: relative;
  font-size: 16px;
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  top: -1rem;
  margin-left: -10px;

  &:hover {
    color: black;
  }
}

/* Fim da estilização da tela de 'Onde Encontrar' */

/* Tela de Produtos */
#galeria-div-section-produtos:nth-child(1n) {
  padding-top: 0;
}

#sec-section_produtos {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 2vh 0 2vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.galeria_card_bolos {
  height: 20%;
  margin-bottom: 1px;
}

.padding-10p {
  padding: 10%;
}

.gal-div-espaco-hr-card {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  display: block;
  height: 3vh;
}

.galeria-div-espaco-card {
  display: block;
  height: 50%;
  width: 80%;
  background-color: white;
}

/* Produtos */
.btn_add_remove_cart {
  padding: 4px;
  height: 2.4rem;
  display: flex !important;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#div_imgEmptyCart {
  width: 80%;
  height: 50%;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  background-image: url(../img/img_empty_cart.png);
  background-repeat: round;
}

#imgEmptyCart {
  /* transform: skewX(1); */
  margin: 0 auto;
  text-align: center;
  width: 70%;
  filter: drop-shadow(2px 2px 4px black);
}

.div_bottom_kg {
  display: flex;
  justify-content: center;
  gap: 5%;
}

#div_modal_body_cart {
  padding: 0;
}

#shopping_cart {
  color: black;
  margin: auto 2rem;
  cursor: default;
}

#btn_abrir_modal_cart {
  background-color: transparent;
  color: white;
  border: none;
  font-size: small;
  &:hover {
    color: var(--brown) !important;
  }
  &:focus {
    color: var(--brown) !important;
    box-shadow: none !important;
  }
}

#produtoSelecionado {
  margin: 1rem 0;
  width: 100%;
  background-color: var(--brown);
  padding: 5px 0;
  color: white;
}

#sect_ta_card_title_produts {
  --bs-btn-color: none !important;
  text-decoration: none !important;

  span {
    text-decoration: none;
  }
}

#success_alert_icon {
  width: 20px;
  height: 20px;
}

#show_alert_success {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 20px;
  right: 0;
  display: none;
}

.align-items-center {
  justify-content: center;
}

/* add aqui */

.class_toast {
  border-radius: 10px;
}

.modal-title {
  margin-left: 2rem;
  font-size: 1.8em !important;
}

#newPrice {
  color: #28a745;
}
#offcanvasRight {
  background-color: #fbe6e9;
}
.li_list {
  margin: 0 2%;
  border: 1px solid var(--gray);
  border-radius: 5px;
  width: max-content;
  padding: 15px;
  text-align: center;
  list-style: none;
}

.div_img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-height: 100px;
  max-width: 100px;
}

.input_produto {
  width: 40px;
  text-align: center;
  border-radius: 3px;
  background-color: white;
}

.input_produto_cart {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--brown);
}

.img_product {
  width: 100%;
  height: auto;
  /* border: 2px solid var(--gray); */
  border-radius: 5px;
}

.div_footer_product {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.btn_Produto {
  font-size: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: var(--brown);
  align-items: center;
  padding: 10px;
  &:hover {
    opacity: 80%;
    background-color: var(--smooth_pink);
    color: black;
    cursor: pointer;
  }
}

btn_Produto_add {
}
btn_Produto_remove {
}
btn_Produto_addCart {
}

.btn_Produto:active {
  color: black;
  background-color: white;
}

.div_removeBtn {
  text-align: center;
  justify-items: center;
  align-content: center;
}

.qtd_input {
  display: block;
  height: 10%;
  padding: 10px;
}

.color_red {
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 8px;
  border: none;
}

.message {
  display: block;
  margin-top: 5px;
  color: rgb(234, 46, 46);
  font-size: 10px;
}

.title_h1 {
  text-align: center;
  margin: 5px auto;
  background-color: black;
  color: white;
  border-radius: 15px;
  max-width: 50%;
  border: 1px solid var(--gray);
}

.lbl_input {
  margin-bottom: 5%;
}

.product_name {
  /* font-size: 0.9rem; */
  margin: 0;
}

.span_product {
  /* font-size: 0.9rem; */

  display: flex;
  justify-content: space-evenly;
  p {
    color: rgb(25, 164, 25);
    margin: 0;
  }
}

.span_product_order {
  display: flex;
  justify-content: center;
  p {
    color: rgb(25, 164, 25);
    margin: 0;
  }
}
.offcanvas-title {
  width: 80%;
  text-align: center;
  background-color: var(--brown);
  color: white;
  padding: 5px;
  border-radius: 15px;
}

#shopcart_icon:hover {
  cursor: default;
}

#div_carrinho {
  /* display: none; */
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.offcanvas_footer {
  /* background-color: red; */
  display: block;
}

.quadrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 10px;

  &:hover {
    transform: scale(1.1) !important;
  }
}

#map {
  width: 60rem;
  height: 50rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 8px solid var(--brown);
}
